<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><i>Добро пожаловать!</i></h1>
        <h2><i>Купля продажа недвижимости: помогаем выбрать лучшее!</i></h2>
        <h3><i>${var1.name}</i></h3>
        <p><i>${var1.description}</i></p>
        <p><a href="/advert/new" class="btn btn-primary btn-lg" role="button">Подать объявление</a></p>
    </div>
</div>
<div>${var1.name}</div>
</body>
</html>